.dashboard {
    .container-fluid{
        .flex-container-button {
            display: flex;
            justify-content: flex-start;
        }
    }
    h5 {
        font-weight: bolder; 
    }
    .icon {
        cursor: pointer;
    }
}