
<section class="dashboard">
    <div class="container-fluid">
        <div class="row mr-2 mb-3">
            <div class="flex-container-button">
                <button v-if='isAdmin' type="button" class="btn btn-success "
                    @click="showModal()">Crear</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title mb-4 ml-5 mr-auto">Users</h5>
                    </div>
                    <div class="table-responsive" id="v-step-1">
                        <table class="table center-aligned-table">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Name</th>
                                    <th class="border-bottom-0">Role</th>
                                    <th v-if='isAdmin' class="border-bottom-0">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user, index) in users">
                                    <td>{{user.name}}</td>
                                    <td>{{user.role}}</td>
                                    <td v-if='isAdmin'>
                                        <i class="icon mdi mdi-table-edit x-size-24 action"
                                            @click="showModal(index)"></i>
                                        <i class="icon mdi mdi-delete x-size-24 action text-danger"
                                            @click="Confirm(index)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ConfirmModal></ConfirmModal>
    <UserModal></UserModal>
</section>

