<section class="new-user-modal">
  <div v-if="showModal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" @click="showModal = false">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label for="name" class="col-form-label float-left">Name</label>
                <input type="text" v-model="user.name" class="form-control" id="name" placeholder="Enter name">

                <label for="password" class="col-form-label float-left">Password</label>
                <input type="password" v-model="user.password" class="form-control" id="password"
                  placeholder="Enter password">

                <label for="repeatPassword" class="col-form-label float-left">Repeat password</label>
                <input type="password" v-model="user.repeatPassword" class="form-control" id="repeat"
                  placeholder="Repear password">


                <div class="row">
                  <div class="col-12">
                    <label class="float-left mt-2 mb-4">Type</label>
                  </div>
                  <div class="col-12">
                    <vselect :options="userType.map(type=>({label:type.text, value:type.type}))" v-model="user.role"
                      :reduce="type=>type.value" class="mt-n3 mb-4" required></vselect>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
                <button type="button" class="btn btn-primary" @click="Create">Save</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </transition>
  </div>

</section>