<section class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Test Coatí</a>
      
          <ul class="navbar-nav mr-auto">
          </ul>
          <button v-on:click="Logout" class="btn btn-outline-dark" type="button">
            Logout
          </button>
      </nav>
</section>

