<template>
    <div class="notify" v-bind:class="{active: active}">
        <div class="notifyType" :class="{success:success, failure:!success}">{{message}}</div>
    </div>
</template>

<script>
import EventBus from '../lib/eventBus'
import config from '../config.js'

export default {
        name: 'Alert',
        data () {
            return {
                active: false,
                success: false,
                message: ''
            }
        },
        created () {
            EventBus.$on('alert', data => {
                const _this = this
                this.active = true
                this.message = data.message
                this.success = data.success

                const timer = setTimeout(function () {
                    _this.active = false
                    clearTimeout(timer)
                }, config.timer * 1000)
            })
        }
    }
</script>

<style>
    .success {
        border-bottom: 3px solid #03a679;
    }

    .failure {
        border-bottom: 3px solid #ff3939;
    }

    .notify {
        position: fixed;
        top: 3%;
        width: 70%;
        height: 0;
        box-sizing: border-box;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        box-sizing: border-box;
        transition: height 0.2s;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 5050;
    }

    .notifyType {
        display: inline-block;
        margin-top: 15px;
    }

    .active {
        height: 50px;
    }
</style>
