<section class="confirm-modal">
  <div v-if="showModalConf">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Remove?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" @click="showModalConf = false">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="showModalConf = false">Close</button>
                <button type="button" class="btn btn-primary" @click="Remove">Confirm</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </transition>
  </div>

</section>
