<template>
  <div id="app">
    <Alert></Alert>
    <router-view/>
  </div>
</template>
<script>
import Alert from './components/Alert'
export default {
    name: 'App',
    components: {
        Alert
    }
}
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<style>
@import "../node_modules/@mdi/font/css/materialdesignicons.min.css";
</style>

<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";
</style>
