<section class="login">
<div class="flex-login">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Test</h5>
      <form  @submit.prevent="Login">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input v-model='name' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input v-model='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

</section>